{% extends 'base.html' %}
{% block head %}
<link href="../../static/css/style.css">
{% endblock %}
{% block title %}
Clubs
{% endblock %}

{% block body %}
<div class="content">
    {% for club in clubs %}
    <div class="container2">
        <p class="club-title">
            {{club.name}}
        </p>
        <div class="divider2"></div>
        <p class="club-description" id="club-description">
            {{club.description}}
        </p>
        <a class="joinbutton" href="/join_club">გაწევრიანება</a>
        <p class="club-author" id="club-author">
            Teacher: {{club.owner}}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
