{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    {% for event in events %}
    <div class="container2">
        <p class="club-title">
            {{event.name}}
        </p>
        <div class="divider2"></div>
        <p class="club-description" id="club-description">
            {{event.description}}
        </p>
        <a class="joinbutton" href="{% url 'club_detail' slug=event.slug %}">view contest</a>
        <p class="club-author" id="club-author">
            last date: {{event.last_date}}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}