<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="page-container">
    <div class="content-wrap">
 <nav class="navigation">
    <ul class="left-nav">
        <li class="bt bigfont l">
            <style>
                span
                {
                    color:#703cc8;
                }
            </style>
            <a href="/" class="logo"><span>Kom</span>Club</a>
        </li>
        <li class="l">
            <a href="/" class="bt q nav-link">Home</a>
        </li>
        <li class="l">
            <a href="/clubs" class="bt q nav-link">Clubs</a>
        </li>
        <li class="l">
            <a href="/my_clubs" class="bt q nav-link">My Clubs</a>
        </li>
    </ul>
    <ul class="right-nav">
    {% if request.session.user_id %}
        <li class="l">
            <a class="bt q nav-link" href="/logout">LogOut</a>
        </li>
        <li class="l">
            <a class="bt q">{{ request.session.username }}</a>
        </li>
    {% else %}
        <li class="l">
            <a href="/register" class="bt al q nav-link">Register</a>
        </li>
        <li class="l">
            <a href="/login" class="bt al q nav-link">Login</a>
        </li>
    {% endif %}
    </ul>
    
</nav>
<img src="../../static/images/image.jpg" class="banner">
    {% block body %}
    {% endblock %}
    
  <footer>
    <a class="contact">Contact us</a>
    <div class="divider"></div>
    <img class="appicon" src="../../static/images/instagram.png" href="#">
    <img class="appicon" src="../../static/images/facebook.png" href="#">
  </footer>
  </div>
</div>
</body>
</html>