<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    {% block head %}
    {% endblock %}
</head>
<body>
  <nav class="navigation">
    <ul class="left-nav">
        <li class="bt bigfont l">
            <a href="#" class="logo">KomClub</a>
        </li>
        <li class="l">
            <a href="#" class="bt q nav-link">Home</a>
        </li>
        <li class="l">
            <a href="#" class="bt q nav-link">Clubs</a>
        </li>
        <li class="l">
            <a href="#" class="bt q nav-link">My Clubs</a>
        </li>
    </ul>
    <ul class="right-nav">
      {% if user.authenticated %}

      {% else %}
        <li class="l">
            <a href="register/" class="bt al q nav-link">Register</a>
        </li>
        <li class="l">
            <a href="login/" class="bt al q nav-link">Login</a>
        </li>
      {% endif %}
    </ul>
</nav>

    {% block body %}
    {% endblock %}
    
  <footer>
    <a class="contact">Contact us</a>
    <div class="divider"></div>
    <a class="info" href="#">Instagram</a>
    <a class="info" href="#">Facebook</a>
  </footer>
</body>
</html>